doc/papinet/BusinessAcknowledgementV2R40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.papinet.org/v2r40" xmlns:pn="http://www.papinet.org/v2r40" xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.papinet.org/v2r40" elementFormDefault="qualified" attributeFormDefault="unqualified" version="V2R40_20251015">
	<xs:annotation>
		<xs:documentation>
            Copyright 2000 - 2025 the Confederation of European Paper Industries AISBL ("papiNet") the "Copyright Owner". 
            All rights reserved by the Copyright Owner under the laws of 
            the United States, Belgium, the European Economic Community, and all states, domestic and foreign. 
            For support, more information, or to report implementation bugs, please contact papiNet at www.papiNet.org.
		</xs:documentation>
	</xs:annotation>
<xs:include schemaLocation="papiNetCommonDefsV2R40.xsd"/>
	<xs:element name="BusinessAcknowledgement">
		<xs:annotation>
			<xs:documentation>TransactionHistoryNumber in BusinessAcknowledgement will be deprecated in a future version V3R00 and should not be used in new implementations.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BusinessAcknowledgementNumber"/>
				<xs:element ref="BusinessAcknowledgementDate"/>
				<xs:element ref="Document"/>
				<xs:element ref="TransactionHistoryNumber" minOccurs="0"/>
				<xs:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SenderParty" minOccurs="0"/>
				<xs:element ref="ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Status" type="successFailure" use="required"/>
			<xs:attribute name="Language" type="languageType" default="eng"/>
		</xs:complexType>
	</xs:element>
</xs:schema>











