doc/papinet/CreditDebitNoteV2R40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.papinet.org/v2r40" xmlns:pn="http://www.papinet.org/v2r40" xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.papinet.org/v2r40" elementFormDefault="qualified" attributeFormDefault="unqualified" version="V2R40_20251015">
	<xs:annotation>
		<xs:documentation>
            Copyright 2000 - 2025 the Confederation of European Paper Industries AISBL ("papiNet") the "Copyright Owner". 
            All rights reserved by the Copyright Owner under the laws of 
            the United States, Belgium, the European Economic Community, and all states, domestic and foreign. 
            For support, more information, or to report implementation bugs, please contact papiNet at www.papiNet.org.
		</xs:documentation>
	</xs:annotation>
<xs:include schemaLocation="papiNetCommonDefsV2R40.xsd"/>
	<xs:element name="CreditDebitNote">
		<xs:annotation>
			<xs:documentation>CreditDebitNote e-Document will be deprecated in a future version V3R00 and should not be used in new implementations. Use instead Invoice e-Document with attribute InvoiceType having enumerations CreditNote or DebitNote. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CreditDebitNoteHeader"/>
				<xs:element ref="CreditDebitNoteLineItem" maxOccurs="unbounded"/>
				<xs:element ref="MonetaryAdjustment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CreditDebitNoteSummary"/>
			</xs:sequence>
			<xs:attribute name="CreditDebitNoteType" type="creditDebitNoteType" use="required"/>
			<xs:attribute name="Reissued" type="yesNo" default="No"/>
			<xs:attribute name="Language" type="languageType" default="eng"/>
		</xs:complexType>
	</xs:element>
</xs:schema>










