doc/papinet/ShippingInstructionsV2R40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.papinet.org/v2r40" xmlns:pn="http://www.papinet.org/v2r40" xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.papinet.org/v2r40" elementFormDefault="qualified" attributeFormDefault="unqualified" version="V2R40_20251015">
	<xs:annotation>
		<xs:documentation>
            Copyright 2000 - 2025 the Confederation of European Paper Industries AISBL ("papiNet") the "Copyright Owner". 
            All rights reserved by the Copyright Owner under the laws of 
            the United States, Belgium, the European Economic Community, and all states, domestic and foreign. 
            For support, more information, or to report implementation bugs, please contact papiNet at www.papiNet.org.
		</xs:documentation>
	</xs:annotation>
<xs:include schemaLocation="papiNetCommonDefsV2R40.xsd"/>
	<xs:element name="ShippingInstructions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShippingInstructionsHeader"/>
				<xs:choice>
					<xs:element ref="ByProduct"/>
					<xs:element ref="ByShipTo"/>
				</xs:choice>
				<xs:element ref="ShippingInstructionsSummary" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ShippingInstructionsType" type="shippingInstructionsType" use="required">
			</xs:attribute>
			<xs:attribute name="ShippingInstructionsStatusType" type="shippingInstructionsStatusType" use="required">
			</xs:attribute>
			<xs:attribute name="IsThirdPartyAdvice" type="yesNo">
			</xs:attribute>
			<xs:attribute name="IsThirdPartyShipment" type="yesNo">
			</xs:attribute>
			<xs:attribute name="Reissued" type="yesNo" default="No">
			</xs:attribute>
			<xs:attribute name="Language" type="languageType" default="eng">
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>








































































